<page-title>
  <clr-button-group class="btn-sm">
    <clr-button title="Agregar turno" [disabled]="appointmentsDate.isFinished" (click)="goToAppointmentDetails()"> 
      <clr-icon shape="add" class="clr-icon"></clr-icon>
      <span [hidden]="mobileView">Agregar turno</span>
    </clr-button>
    <clr-button title="Finalizar dia" (click)="showConfirmationModal()"
      [disabled]="(isFinished || endDayDisabled())">
      <clr-icon shape="tasks"></clr-icon>
      <span [hidden]="mobileView">Finalizar dia</span>
    </clr-button>
  </clr-button-group>
</page-title>
<clr-datagrid [hidden]="(appointments.length == 0)" 
  class="clr-col-12 appointments-grid">
  <clr-dg-column [clrDgField]="'time'">
    Hora
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'patient'">
    Paciente
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'areas'">
    <ng-container *clrDgHideableColumn="{hidden:mobileView}">
      Zonas
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'price'">
    <ng-container *clrDgHideableColumn="{hidden:mobileView}">
      Precio
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">
    <ng-container *clrDgHideableColumn="{hidden:mobileView}">
      Estado
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'observations'">
    <ng-container *clrDgHideableColumn="{hidden:mobileView}">
      Observaciones
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden:(mobileView || isFinished)}">
    </ng-container>
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let appointment of appointments"
    [ngClass]="getAppointmentRowClass(appointment.status)">
    <clr-dg-cell>{{ appointment.time | timeMinutes }}</clr-dg-cell>
    <clr-dg-cell>
      <a [routerLink]="['/patient/details', appointment.patient._id]">
        {{ appointment.patient.name }}
      </a>
    </clr-dg-cell>
    <clr-dg-cell>{{ appointment.areas | areasDescription }}</clr-dg-cell>
    <clr-dg-cell>{{ appointment.price | currency }}</clr-dg-cell>
    <clr-dg-cell>{{ appointment.status | statusDescription }}</clr-dg-cell>
    <clr-dg-cell><small>{{ appointment.observations }}</small></clr-dg-cell>
    <clr-dg-cell class="actions-cell">
      <button type="button" title="Editar" class="btn btn-icon btn-sm btn-outline" (click)="goToAppointmentDetails(appointment._id)">
        <clr-icon shape="pencil"></clr-icon>
      </button>
      <appointment-actions
        [currentStatus]='appointment.status'
        [selectedAppointment]='appointment._id'
        (onStatusChange)='onStatusChange($event)'>
      </appointment-actions>
      <button type="button" title="Eliminar" class="btn btn-icon btn-sm btn-danger-outline">
        <clr-icon shape="trash"></clr-icon>
      </button>
    </clr-dg-cell>
    <ng-container ngProjectAs="clr-dg-row-detail" *ngIf="mobileView">
      <clr-dg-row-detail *clrIfExpanded>
        <clr-dg-cell class="actions-cell mobile-view">
          <div><label>Zonas: </label>{{ appointment.areas | areasDescription }}</div>
          <div><label>Precio: </label>{{ appointment.price | currency }}</div>
          <div><label>Estado: </label>{{ appointment.status | statusDescription }}</div>
          <div>
            <label>Observaciones: </label>
            <small>{{ appointment.observations }}</small>.
          </div>
          <button type="button" title="Editar" class="btn btn-icon btn-sm btn-outline">
            <clr-icon shape="pencil"></clr-icon>
          </button>
          <appointment-actions
            [currentStatus]='appointment.status'
            [selectedAppointment]='appointment._id'
            (onStatusChange)='onStatusChange($event)'>
          </appointment-actions>
          <button type="button" title="Eliminar" class="btn btn-icon btn-sm btn-danger-outline">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row-detail>
    </ng-container>
  </clr-dg-row>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openPaymentModal" [clrModalSize]="'md'" class="payment-modal">
  <h3 class="modal-title">Finalizar turno</h3>
  <div class="modal-body">
    <form clrForm #paymentForm="ngForm" (ngSubmit)="onSubmitPayment()"
      clrLayout="horizontal">
      <div class="clr-form-control">
        <label for="payment_method" class="clr-control-label">Medio de pago</label>
        <div class="select">
          <select [(ngModel)]="paymentMethodSelected" (ngModelChange)="onChangePayment($event)" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let paymentMethod of paymentsArray" [ngValue]="paymentMethod.id"> {{ paymentMethod.description }} </option>
          </select>
        </div>
      </div>
      <!-- TODO obtener el porcentaje del BE -->
      <small [hidden]="(paymentMethodSelected == 1)">Este medio de pago aplicará automaticamente un 20% de aumento al precio del turno</small>
      <div class="modal-footer">
        <button type="submit" title="Guardar" class="btn btn-sm btn-icon btn-outline-success">
          <clr-icon shape="check"></clr-icon>
        </button>
      </div>
    </form>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openConfirmationModal" [clrModalSize]="'md'">
  <h3 class="modal-title">Terminar dia</h3>
  <div class="modal-body">
    <appointment-end-day [endedAppointments]="endedAppointments">
    </appointment-end-day>
    <p>
      Está seguro que desea finalizar el dia de depilación ?
    </p>
    <small>Al terminar el día no se podrá volver a editar ninguno de los turnos correspondientes. Se guardará la recaudación actual y el historial de los pacientes</small>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="(openConfirmationModal = !openConfirmationModal)">No</button>
    <button type="button" class="btn btn-outline" (click)="this.onEndDay()">Terminar</button>
  </div>
</clr-modal>