page-title {
  .title-buttons {
    margin: 0;
    button {
      margin-left: 0.2rem;
      background-color: whitesmoke;
    }
  }
}
.table-container {
  margin: 0 auto;
  table {
    width: 100%;
    .actions-header {
      text-align: center;
    }
    tr {
      td.mat-column-observations {
        width: 20%;
      }
      &.new {
        background-color: #ffffff;
      }
      &.waiting-confirmation {
        background-color: #f5f2b8;
      }
      &.confirmed {
        background-color: #c4c8d4;
      }
      &.missing {
        background-color: #FFCCB5;
      }
      &.present {
        background-color: #ace4ec;
      }
      &.terminated {
        background-color: #ebe7ee;
      }
      &.ended {
        background-color: #AADB1E;
      }
    }
  }
  &.mobile {
    .expand-cell-action {
      cursor: pointer;
    }
    .appointment-detail {
      padding-left: 5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
      }
    }
    tr.appointment-detail-row {
      height: 0;
    }
  }
}
.payment-modal {
  .clr-form-control {
    margin-top: 0px;
    .clr-control-label {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
  small {
    padding-top: 0.6rem;
  }
}
