.areas-grid {
  .datagrid-cell {
    text-align: center;
    &:first-child {
      text-align: left;
    }
    @media (max-width: 576px) {
      text-align: left;
    }
  }
  .actions-cell {
    padding: 0.2rem 0.5rem 0;
    .btn {
      margin-top: 0px;
      margin-bottom: 0.2px;
    }
    &.mobile-view {
      text-align: start;
      div {
        margin-bottom: 0.5rem;
      }
      clr-button-group {
        margin-bottom: 0.5rem;
      }
    }
  }
}
.table-container {
  width: 80%;
  margin: 0 auto;
  table {
    width: 100%;
  }
}


