<page-title>
  <button class="btn btn-sm btn" title="Nueva zona" (click)="showAreaModal()">
    <clr-icon shape="add"></clr-icon>
    <span [hidden]="mobileView">Nueva Zona</span>
  </button>
</page-title>

<clr-modal [(clrModalOpen)]="openEditionModal" [clrModalSize]="'sm'">
  <h3 class="modal-title">Editar zona</h3>
  <div class="modal-body">
    <area-details [areaId]="areaSelectedToEdit"
      class="area-details"
      (closeModal)="onCloseModal()">
    </area-details>
  </div>
</clr-modal>

<div class="mat-elevation-z1 table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
      <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
      <td mat-cell *matCellDef="let elm"> {{ elm.price | currency }} </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración</th>
      <td mat-cell *matCellDef="let elm"> {{ elm.duration | durationMinutes }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let elm">
        <button mat-icon-button aria-label="Editar" color="primary" (click)="showAreaModal(elm._id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Eliminar" color="warn" (click)="deleteArea(elm._id, elm.description)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSize]="10" [hidePageSize]="true"></mat-paginator>
</div>
