<h1 mat-dialog-title>
  <mat-icon aria-hidden="false" *ngIf="data.hasError">error_outline</mat-icon>
  {{ data.title }}
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <p>{{ data.text }}</p>
  <p *ngIf="data.hasError">Intentelo mas tarde. Si el problema persiste consulte con el administrador del sistema</p>
</div>
<div mat-dialog-actions>
  <button *ngIf="(data.isConfirmationModal)" mat-stroked-button (click)="onNoClick()">Cancelar</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true">Aceptar</button>
</div>

