<page-title></page-title>
<mat-card class="login-container">
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Tipo de usuario</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="0">Operador</mat-option>
          <mat-option value="1">Administrador</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="userEmail"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="userPassword"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-stroked-button
      (click)="onSubmit()"
      type="submit"
      color="primary"
      [disabled]="!loginForm.dirty || !loginForm.valid"
    >
      Ingresar
    </button>
  </mat-card-actions>
</mat-card>
