<page-title>
  <mat-slide-toggle
    color="primary"
    (change)="toggleEditionMode()"
    [hidden]="!patientId"
  >
    Editar
  </mat-slide-toggle>
</page-title>
<mat-card class="patient-form-container" [ngClass]="{ mobile: mobileView }">
  <mat-card-content>
    <form
      [formGroup]="patientForm"
      class="patient-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-content">
        <section class="form-block">
          <mat-form-field>
            <input
              matInput
              placeholder="Nombre"
              type="text"
              formControlName="patientName"
              required
            />
            <mat-error
              *ngIf="patientForm.get('patientName').hasError('required')"
              >Este campo no puede estar vacio</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Apellido"
              type="text"
              formControlName="patientLastName"
              required
            />
            <mat-error
              *ngIf="patientForm.get('patientLastName').hasError('required')"
              >Este campo no puede estar vacio</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Edad"
              type="number"
              formControlName="patientAge"
              required
            />
            <mat-error
              *ngIf="patientForm.get('patientAge').hasError('required')"
              >Este campo no puede estar vacio</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Telefono"
              type="number"
              formControlName="patientPhone"
              required
            />
            <mat-error
              *ngIf="patientForm.get('patientPhone').hasError('required')"
              >Este campo no puede estar vacio</mat-error
            >
          </mat-form-field>
          <mat-form-field class="mid-field" *ngIf="patient.nextSession">
            <mat-label>Proxima sesion Mes</mat-label>
            <mat-select formControlName="patientNextSessionMonth">
              <mat-option *ngFor="let month of months" [value]="month.label">
                {{ month.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mid-field" *ngIf="patient.nextSession">
            <mat-label>Proxima sesion Ano</mat-label>
            <mat-select formControlName="patientNextSessionYear">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section class="form-block">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Toma medicamentos?"
              formControlName="patientMedicines"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Tiene alergias?"
              formControlName="patientAllergies"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Tiene lunares?"
              formControlName="patientMoles"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Tiene protesis metalicas?"
              formControlName="patientBodyMetals"
            ></textarea>
          </mat-form-field>
        </section>
        <section class="form-block">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Tiene tatuajes?"
              formControlName="patientTattoos"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Realizo tratamiento previo?"
              formControlName="patientPreviousTreatment"
            ></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="patientSkinCancer"
            >Cancer de piel</mat-checkbox
          >
          <mat-checkbox formControlName="patientEpilepsy"
            >Epilepsia</mat-checkbox
          >
          <mat-checkbox formControlName="patientPregnant"
            >Esta embarazada?</mat-checkbox
          >
        </section>
      </div>

      <div class="button-form-group">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="!editionMode || !patientForm.dirty || !patientForm.valid"
        >
          Guardar
        </button>
        <button
          mat-stroked-button
          type="button"
          color="warn"
          (click)="cancelEdition(patientForm.dirty)"
        >
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
