<h1 mat-dialog-title>
  {{ data.title }}
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <div class="mat-elevation-z1 table-container" *ngIf="!mobileView">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
        <td mat-cell *matCellDef="let day">{{ day.year }}</td>
      </ng-container>

      <!-- Month Column -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
        <td mat-cell *matCellDef="let day">{{ day.month + 1 | monthName }}</td>
      </ng-container>

      <!-- Days Column -->
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef>Dias</th>
        <td mat-cell *matCellDef="let day" class="days-list">
          <button
            mat-stroked-button
            color="primary"
            *ngFor="let day of day.days"
            (click)="goToAppointment(day._id)">
            {{ day.date.getDate() }}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
  </div>

  <div class="mat-elevation-z1 table-container mobile" *ngIf="mobileView">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let day"
          class="expand-cell-action"
          (click)="expandedDay = expandedDay === day ? null : day">
          <mat-icon *ngIf="expandedDay != day">expand_more</mat-icon>
          <mat-icon *ngIf="expandedDay === day">expand_less</mat-icon>
        </td>
      </ng-container>

      <!-- Year Column -->
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
        <td mat-cell *matCellDef="let day">{{ day.year }}</td>
      </ng-container>

      <!-- Month Column -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
        <td mat-cell *matCellDef="let day">{{ day.month + 1 | monthName }}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let day"
          [attr.colspan]="displayedMobileColumns.length"
        >
          <div
            class="day-detail"
            [@detailExpand]="day === expandedDay ? 'expanded' : 'collapsed'"
          >
            <div class="days-list">
              <button
                mat-stroked-button
                color="primary"
                *ngFor="let day of day.days"
                (click)="goToAppointment(day._id)"
              >
                {{ day.date.getDate() }}
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedMobileColumns"></tr>
      <tr
        mat-row
        *matRowDef="let day; columns: displayedMobileColumns"
        class="day-row"
        [class.expanded-row]="expandedDay === day"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="day-detail-row"
      ></tr>
    </table>

    <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true">Aceptar</button>
</div>