@import '~@angular/material/theming';

.main-container {
  .content-container {
    padding:0.5rem;
    .content-area {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #CCCCCC;
    }
  }
}
::ng-deep .snackbar-container {
  background-color: mat-color($mat-lime, 50); 
  border: 1px solid mat-color($mat-green, 500);
  color: mat-color($mat-grey, 900);
  .mat-button-wrapper {
    color:mat-color($mat-green, 500);
  } 
}