
<clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'md'">
  <h3 class="modal-title">Salir del sistema</h3>
  <div class="modal-body">
    <p>
      Está seguro que desea salir ?
      <small>Se perderán todos los datos no guardados.</small>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="(openModal = !openModal)">No</button>
    <button type="button" class="btn btn-outline" (click)="logout()">Si</button>
  </div>
</clr-modal>

<mat-toolbar color="primary">
  <mat-toolbar-row *ngIf="!mobileView">
    <span>Freedom System</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/calendar" routerLinkActive="active">Calendario</button>
    <button mat-button routerLink="/patients" routerLinkActive="active">Pacientes</button>
    <button mat-button routerLink="/areas" routerLinkActive="active">Zonas</button>
    <button mat-button routerLinkActive="active" disabled>Caja</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="(openModal = true)">
        <span>Salir</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="mobileView">
    <span>Freedom System</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mobile-menu">
      <button mat-button routerLink="/calendar" routerLinkActive="active">Calendario</button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/patients" routerLinkActive="active">Pacientes</button>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/areas" routerLinkActive="active">Zonas</button>
      <mat-divider></mat-divider>
      <button mat-button routerLinkActive="active" disabled>Caja</button>
      <mat-divider></mat-divider>
      <button mat-button (click)="(openModal = true)">Salir</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
