<clr-datagrid [hidden]="(appointmentHistory.length == 0)">
  <clr-dg-column [clrDgField]="'date'">
    Fecha
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'areas'">
    Zonas
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">
    Estado del turno
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'observations'">
    Observaciones
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let appointment of appointmentHistory">
    <clr-dg-cell>{{ appointment.date | date:'shortDate'}}</clr-dg-cell>
    <clr-dg-cell>{{ appointment.areas }}</clr-dg-cell>
    <clr-dg-cell>{{ appointment.status }}</clr-dg-cell>
    <clr-dg-cell>{{ appointment.observations }}</clr-dg-cell>
  </clr-dg-row>

  <!-- <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
    </clr-dg-pagination>
  </clr-dg-footer> -->
</clr-datagrid>
