<page-title>
  <div class="title-buttons">
    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/patient/details']"
      title="Nuevo paciente"
    >
      <mat-icon>add</mat-icon>
      <span *ngIf="!mobileView">&nbsp;&nbsp;Nuevo Paciente</span>
    </button>
  </div>
</page-title>

<mat-form-field class="filter-field" [ngClass]="{ mobile: mobileView }">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" />
</mat-form-field>

<div class="mat-elevation-z1 table-container" *ngIf="!mobileView">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- FullName Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nombre y apellido
      </th>
      <td mat-cell *matCellDef="let patient">{{ patient.fullName }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let patient">{{ patient.phone }}</td>
    </ng-container>

    <!-- Next Appointment Column -->
    <ng-container matColumnDef="nextSession">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proxima Sesion</th>
      <td mat-cell *matCellDef="let patient">
        {{ patient.nextSession }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let patient">
        <button
          mat-icon-button
          aria-label="Mostrar historial"
          color="primary"
          (click)="showHistoryModal(patient._id)"
        >
          <mat-icon>assignment</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Editar"
          color="primary"
          [routerLink]="['/patient/details', patient._id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Eliminar"
          color="warn"
          (click)="deletePatient(patient._id, patient.fullName)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSize]="10" [hidePageSize]="true"></mat-paginator>
</div>

<div class="mat-elevation-z1 table-container mobile" *ngIf="mobileView">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let patient"
        class="expand-cell-action"
        (click)="expandedPatient = expandedPatient === patient ? null : patient"
      >
        <mat-icon *ngIf="expandedPatient != patient">expand_more</mat-icon>
        <mat-icon *ngIf="expandedPatient === patient">expand_less</mat-icon>
      </td>
    </ng-container>

    <!-- FullName Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Nombre y apellido
      </th>
      <td mat-cell *matCellDef="let patient">
        {{ patient.fullName | titlecase }}
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let patient"
        [attr.colspan]="displayedMobileColumns.length"
      >
        <div
          class="patient-detail"
          [@detailExpand]="
            patient === expandedPatient ? 'expanded' : 'collapsed'
          "
        >
          <div><label>Telefono: </label>{{ patient.phone }}</div>
          <div><label>Proxima Sesion: </label>{{ patient.nextSession }}</div>
          <div>
            <button
              mat-icon-button
              aria-label="Mostrar historial"
              color="primary"
              (click)="showHistoryModal(patient._id)"
            >
              <mat-icon>assignment</mat-icon>
            </button>
            <button
              mat-icon-button
              aria-label="Editar"
              color="primary"
              [routerLink]="['/patient/details', patient._id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              aria-label="Eliminar"
              color="warn"
              (click)="deletePatient(patient._id, patient.fullName)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedMobileColumns"></tr>
    <tr
      mat-row
      *matRowDef="let patient; columns: displayedMobileColumns"
      class="patient-row"
      [class.expanded-row]="expandedPatient === patient"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="patient-detail-row"
    ></tr>
  </table>

  <mat-paginator [pageSize]="10" [hidePageSize]="true"></mat-paginator>
</div>
