.filter-field {
  width: 80%;
  margin: 0.5rem auto;
  display: block;
  &.mobile {
    width: 100%;
  }
}
.table-container {
  width: 80%;
  margin: 0 auto;
  table {
    width: 100%;
    .actions-header {
      text-align: center;
    }
  }
  &.mobile {
    width: 100%;
    .expand-cell-action {
      cursor: pointer;
    }
    .patient-detail {
      padding-left: 5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
      }
    }
    tr.patient-detail-row {
      height: 0;
    }
  }
}