<button
  mat-icon-button
  title="Solicitar confirmación"
  color="primary"
  *ngIf="actionsList.includes(2)"
  (click)="changeStatus(2)"
>
  <mat-icon>message</mat-icon>
</button>
<button
  mat-icon-button
  title="Confirmar"
  color="primary"
  *ngIf="actionsList.includes(3)"
  (click)="changeStatus(3)"
>
  <mat-icon>event_available</mat-icon>
</button>
<button
  mat-icon-button
  title="Ausente"
  color="primary"
  *ngIf="actionsList.includes(4)"
  (click)="changeStatus(4)"
>
  <mat-icon>sentiment_very_dissatisfied</mat-icon>
</button>
<button
  mat-icon-button
  title="Presente"
  color="primary"
  *ngIf="actionsList.includes(5)"
  (click)="changeStatus(5)"
>
  <mat-icon>sentiment_very_satisfied</mat-icon>
</button>
<button
  mat-icon-button
  title="Finalizar"
  color="primary"
  *ngIf="actionsList.includes(6)"
  (click)="changeStatus(6)"
>
  <mat-icon>monetization_on</mat-icon>
</button>
<button
  mat-icon-button
  title="Cancelar"
  color="warn"
  *ngIf="actionsList.includes(7)"
  (click)="changeStatus(7)"
>
  <mat-icon>not_interested</mat-icon>
</button>
