.page-title {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  h3 {
    margin-top: 0;
    flex: 0 1 90%;
  }
}
form {
  .clr-row {
    .clr-form-control {
      margin: 0.5rem 0;
      .clr-control-label {
        font-weight: normal;
      }
      .clr-input {
        min-width: 12rem;
      }
      textarea {
        font-size: 0.7em;
        min-width: 12rem;
        min-height: 2rem;
        line-height: 1.5em;
        height: 4vw;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      &:first-child {
        margin-top: 0px;
      }
    }
    .checkboxes-container {
      display: flex;
      height: 24vw;
      @media (max-width: 768px) {
        display: block;
        height: auto;
      }
    }
  }
}