.newDate-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  @media (max-width: 576px) {
    .mat-form-field {
      width: 68%;
    }
  }
  .mat-flat-button {
    margin-left: 0.5rem;
  }
}
.calendar-grid {
  .datagrid-cell.action-cell {
    padding: 0.2rem 0.5rem;
    .btn-sm {
      min-width: 2rem;
      margin-top: 0px;
      margin-bottom: 0.2px;
    }
    @media (max-width: 576px) {
      text-align: center;
      .btn-sm {
        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }
}
.table-container {
  width: 80%;
  margin: 0 auto;
  table {
    width: 100%;
    .days-list {
      .mat-stroked-button {
        min-width: 50px;
        margin-right: 0.2rem;
      }
    }
  }
}