page-title {
  .title-buttons {
    margin: 0;
    button {
      margin-left: 0.2rem;
      background-color: whitesmoke;
    }
  }
}
.newDate-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1rem;
  @media (max-width: 576px) {
    .mat-form-field {
      width: 68%;
    }
  }
  .mat-stroked-button {
    margin-left: 0.5rem;
  }
}
.table-container {
  width: 80%;
  margin: 0 auto;
  table {
    width: 100%;
    .actions-header {
      text-align: center;
    }
    .days-list {
      .mat-stroked-button {
        min-width: 50px;
        margin-right: 0.2rem;
      }
    }
  }
  &.mobile {
    width: 100%;
    .expand-cell-action {
      cursor: pointer;
    }
    .day-detail {
      padding-left: 5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
      }
      .days-list {
        margin: 0.5rem 0rem;
        .mat-stroked-button {
          min-width: 30px;
          margin-right: 0.2rem;
          padding: 0 5px;
        }
      }
    }
    tr.day-detail-row {
      height: 0;
    }
  }
}