.appointment-form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
  .form-content {
    .form-block {
      display: flex;
      flex-direction: row;
      flex-basis: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      .mat-form-field {
        margin: 0.4rem 0;
        width: 100%;
        &.mid-field {
          width: 40%;
        }
      }
    }
  }
  .button-form-group {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 0.3rem;
    }
  }
  &.mobile {
    width: 100%;
  }
}
