form {
  .form-block {
    margin: 0.5rem;
    .form-group {
      margin: 0.5rem 0;
      padding-left: 6.5rem;
    }
  }
  @media (max-width: 576px) {
    .form-block {
      .form-group {
        padding-left: 0px;
      }
    }
  }
}
.calendar-grid {
  .datagrid-cell.action-cell {
    padding: 0.2rem 0.5rem;
    .btn-sm {
      min-width: 2rem;
      margin-top: 0px;
      margin-bottom: 0.2px;
    }
    @media (max-width: 576px) {
      text-align: center;
      .btn-sm {
        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }
}